*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --flow-sidebar-width: 220px;
  --flow-sidebar-right-width: 320px;
}

html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}
